@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-circle {
    clip-path: circle(50% at 50% 50%);
  }
}

html, body {
  font-family: 'Nunito', sans-serif;
  background-color: #f0fdf4; /* Light green background */
  overflow-x: hidden;
}

@keyframes scan {
  from { transform: translateY(-100%); }
  to { transform: translateY(100%); }
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}
